{
  "env": {
    "node": true,
    "commonjs": true,
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/jsx-runtime"
    // "eslint-config-prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    },
    "ecmaVersion": "latest",
    "requireConfigFile": false,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint",
    "unused-imports",
    "simple-import-sort"
    // "eslint-plugin-prettier"
  ],
  "rules": {
    "default-case": "error",
    "no-multi-spaces": "error",
    "simple-import-sort/imports": "warn",
    "unused-imports/no-unused-imports": "warn",
    "semi": [
      "error",
      "never"
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      "error",
      "double",
      {
        "allowTemplateLiterals": true
      }
    ],
    "arrow-parens": [
      "warn",
      "as-needed"
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    // OFF
    // "prettier/prettier": [
    //   "error",
    //   "off"
    // ],
    "@typescript-eslint/end-of-line": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/prefer-namespace-keyword": "off",
    "@typescript-eslint/no-namespace": "off"
  },
  "ignorePatterns": [
    "node_modules",
    "build",
    "coverage"
  ]
}