{
  "env": {
    "node": true,
    "commonjs": true,
    "browser": true,
    "es2024": true,
    "jest": true,
    "worker": true,
    "serviceworker": true,
    "webextensions": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-type-checked",
    "plugin:react/jsx-runtime"
  ],
  "parserOptions": {
    "project": "tsconfig.json",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    },
    "ecmaVersion": "latest",
    "requireConfigFile": false,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint",
    "unused-imports",
    "simple-import-sort"
  ],
  "rules": {
    // Useful
    "default-case": "error",
    "no-multi-spaces": "error",
    "simple-import-sort/imports": "warn",
    "unused-imports/no-unused-imports": "warn",
    "deprecation/deprecation": "error",
    // Stylistic
    "semi": [
      "error",
      "never"
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      "error",
      "double",
      {
        "allowTemplateLiterals": true
      }
    ],
    // asd
    "no-magic-numbers": "off",
    "@typescript-eslint/no-magic-numbers": [
      "error",
      {
        "ignore": [
          0,
          1,
          -1
        ],
        "ignoreArrayIndexes": true,
        "ignoreEnums": true,
        "ignoreNumericLiteralTypes": true,
        "ignoreReadonlyClassProperties": true,
        "ignoreTypeIndexes": true
      }
    ],
    // Curly & Parens
    "arrow-parens": [
      "warn",
      "as-needed"
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "curly": [
      "error",
      "multi-line",
      "consistent"
    ],
    // Function rules
    "func-style": [
      "error",
      "declaration"
    ],
    // OFF
    "@typescript-eslint/end-of-line": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/prefer-namespace-keyword": "off",
    "@typescript-eslint/prefer-function-type": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/class-literal-property-style": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-argument": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    // OFF - React Hooks
    "react-hooks/exhaustive-deps": "off"
  },
  "ignorePatterns": [
    "node_modules",
    "build",
    "coverage"
  ]
}
